
.topnav__left {
    text-align: start;
    display: flex;
    align-items: center;
}
.topnav__left a {
    margin-bottom: 0;
    text-decoration: none;
    color: #888888;
    display: block;
}
.topnav__left a:hover {
    color: #e74c3c;
}

.topnav__right {
    /* text-align: ; */
    display: flex;
    align-items: center;
}
.topnav__right p {
    margin-bottom: 0;
    color: #888888;
}
.topnav__right p:hover {
    color: #e74c3c;
    cursor: pointer;
}


/* navbar */
.nav__link {
    color: #111;
    text-transform: uppercase;
    font-weight: 700;
}
.nav__link:hover {
    color: rgb(235, 162, 28);
}
.navbar__toggler span {
    background: #8a1d1d !important;
}

@media only screen and (max-width:"900px") {

}