
.textBx h2 {
    font-weight: 700;
}
.textBx .span {
    font-weight: 300 I !important;
    /* font-size: 30px; */
}

.btn {
    background: #be2edd;
}

.menu a {
    color: #be2edd;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 991px)
{
  header,
  header.sticky
  {
    padding: 20px 50px;
    z-index: 1000;
  }
  header .menu
  {
    display: none;;
    z-index: 999;
  }
  header .menu
  {
    position: fixed;
    top: 80px;
    left: -100%;
    padding: 100px 50px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  header .menu.active
  {
    position: fixed;
    top: 80px;
    left: 0;
    padding: 100px 50px;
    display: block;
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  header ul li a
  {
    font-size: 24px;
    margin: 10px 0;
    color: #111;
  }
  .toggle
  {
    width: 40px;
    height: 40px;
    background: url("../../img/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
  }
  .toggle.active
  {
    background: url("../../img/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
  }
  header.sticky .toggle
  {
    filter: invert(1);
  } 
  section
  {
    padding: 100px 50px;
  }
  .banner
  {
    padding: 150px 50px 100px;
  }
  .banner h2
  {
    font-size: 1.5em;
  }
  .banner h3
  {
    font-size: 1em;
  }
  .btn
  {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .content
  {
    flex-direction: column;
  }
  .heading h2
  {
    font-size: 24px;
  }
  .conetntBx h3
  {
    font-size: 20px;
  }
  .w50
  {
    margin-bottom: 20px;
  }
  .w50:last-child
  {
    margin-bottom: 0px;
  }
  .services .content .servicesBx
  {
    margin: 10px;
  }
  .work .content .workBx
  {
    width: 100%;
    padding: 10px;
  }
  .testimonial .content .testimonialBx
  {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
    background: #2196F3;
  }
  .testimonial .content .testimonialBx h3
  {
    margin-top: 20px;
  }
  .contactInfo
  {
    margin: 20px 0;
  }
}